@media (prefers-color-scheme: dark) {
  .md-main {
    color: rgba(255, 255, 255, 0.75) !important;
    background-color: #36393e !important;
  }

  article img {
    box-shadow: 0 0 1em #000;
  }

  .md-main h1 {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  blockquote {
    color: rgba(255, 255, 255, 0.75) !important;
  }
  table {
    background-color: #616161 !important;
  }
  tbody {
    background-color: #484848 !important;
  }
  .md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
    background-color: #e0e0e0 !important;
  }
  .md-nav {
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: #36393e !important;
  }
  html .md-nav--primary .md-nav__title:before {
    color: #fafafa !important;
  }
  .md-nav__title {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #36393e !important;
  }
  .md-nav--primary .md-nav__link:after {
    color: #fafafa !important;
  }
  .md-nav__list {
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: #36393e !important;
  }
  .md-nav__item {
    color: rgba(255, 255, 255, 0.7) !important;
    background-color: #36393e !important;
  }
  .md-search__scrollwrap::-webkit-scrollbar-thumb {
    background-color: #e0e0e0 !important;
  }
  .md-search__scrollwrap {
    background-color: #44484e !important;
  }
  .md-search-result__article--document:before {
    color: #eee !important;
  }
  .md-search-result__list {
    color: #eee !important;
    background-color: #36393e !important;
  }
  .md-search-result__meta {
    background-color: #eee !important;
  }
  .md-search-result__teaser {
    color: #bdbdbd !important;
  }
  .md-typeset code {
    color: white !important;
    background-color: hsl(0, 0%, 18%) !important;
    box-shadow: 0.29412em 0 0 hsla(0, 0%, 10%, 0.07),
    -0.29412em 0 0 hsla(0, 0%, 10%, 0.1) !important;
  }
  .md-typeset a code {
    color: #94acff !important;
  }
  .md-typeset a:hover code {
    text-decoration: underline;
  }
  .linenos {
    color: #f5f5f5 !important;
    background-color: #313131 !important;
  }
  .highlight {
    background-color: #44484e !important;
  }
  .md-typeset .highlight::-webkit-scrollbar {
    height: 1rem !important;
  }
  .highlight pre {
    color: #fafafa !important;
    background-color: transparent !important;
  }
  .highlight .hll {
    background-color: #272822 !important;
  }
  .highlight .c {
    color: #8a8f98 !important;
  }
  .highlight .err {
    color: #960050 !important;
    background-color: #1e0010 !important;
  }
  .highlight .k {
    color: #66d9ef !important;
  }
  .highlight .l {
    color: #ae81ff !important;
  }
  .highlight .n {
    color: #f8f8f2 !important;
  }
  .highlight .o {
    color: #f92672 !important;
  }
  .highlight .p {
    color: #f8f8f2 !important;
  }
  .highlight .cm {
    color: #8a8f98 !important;
  }
  .highlight .cp {
    color: #8a8f98 !important;
  }
  .highlight .c1 {
    color: #8a8f98 !important;
  }
  .highlight .cs {
    color: #8a8f98 !important;
  }
  .highlight .ge {
    font-style: italic !important;
  }
  .highlight .gs {
    font-weight: bold !important;
  }
  .highlight .kc {
    color: #66d9ef !important;
  }
  .highlight .kd {
    color: #66d9ef !important;
  }
  .highlight .kn {
    color: #f92672 !important;
  }
  .highlight .kp {
    color: #66d9ef !important;
  }
  .highlight .kr {
    color: #66d9ef !important;
  }
  .highlight .kt {
    color: #66d9ef !important;
  }
  .highlight .ld {
    color: #e6db74 !important;
  }
  .highlight .m {
    color: #ae81ff !important;
  }
  .highlight .s {
    color: #e6db74 !important;
  }
  .highlight .na {
    color: #a6e22e !important;
  }
  .highlight .nb {
    color: #f8f8f2 !important;
  }
  .highlight .nc {
    color: #a6e22e !important;
  }
  .highlight .no {
    color: #66d9ef !important;
  }
  .highlight .nd {
    color: #a6e22e !important;
  }
  .highlight .ni {
    color: #f8f8f2 !important;
  }
  .highlight .ne {
    color: #a6e22e !important;
  }
  .highlight .nf {
    color: #a6e22e !important;
  }
  .highlight .nl {
    color: #f8f8f2 !important;
  }
  .highlight .nn {
    color: #f8f8f2 !important;
  }
  .highlight .nx {
    color: #a6e22e !important;
  }
  .highlight .py {
    color: #f8f8f2 !important;
  }
  .highlight .nt {
    color: #f92672 !important;
  }
  .highlight .nv {
    color: #f8f8f2 !important;
  }
  .highlight .ow {
    color: #f92672 !important;
  }
  .highlight .w {
    color: #f8f8f2 !important;
  }
  .highlight .mf {
    color: #ae81ff !important;
  }
  .highlight .mh {
    color: #ae81ff !important;
  }
  .highlight .mi {
    color: #ae81ff !important;
  }
  .highlight .mo {
    color: #ae81ff !important;
  }
  .highlight .sb {
    color: #e6db74 !important;
  }
  .highlight .sc {
    color: #e6db74 !important;
  }
  .highlight .sd {
    color: #e6db74 !important;
  }
  .highlight .s2 {
    color: #e6db74 !important;
  }
  .highlight .se {
    color: #ae81ff !important;
  }
  .highlight .sh {
    color: #e6db74 !important;
  }
  .highlight .si {
    color: #e6db74 !important;
  }
  .highlight .sx {
    color: #e6db74 !important;
  }
  .highlight .sr {
    color: #e6db74 !important;
  }
  .highlight .s1 {
    color: #e6db74 !important;
  }
  .highlight .ss {
    color: #e6db74 !important;
  }
  .highlight .bp {
    color: #f8f8f2 !important;
  }
  .highlight .vc {
    color: #f8f8f2 !important;
  }
  .highlight .vg {
    color: #f8f8f2 !important;
  }
  .highlight .vi {
    color: #f8f8f2 !important;
  }
  .highlight .il {
    color: #ae81ff !important;
  }
  .highlight .gu {
    color: #8a8f98 !important;
  }
  .highlight .gd {
    color: #9c1042 !important;
    background-color: #eaa;
  }
  .highlight .gi {
    color: #364c0a !important;
    background-color: #91e891;
  }
  .md-clipboard:before {
    color: rgba(255, 255, 255, 0.31);
  }
  .highlight:hover .md-clipboard:before, .md-typeset .highlight:hover .md-clipboard:before, pre:hover .md-clipboard:before {
    color: rgba(255, 255, 255, 0.6);
  }
  .md-typeset summary:after {
    color: rgba(255, 255, 255, 0.26);
  }
  .md-typeset .admonition.example > .admonition-title, .md-typeset .admonition.example > summary, .md-typeset details.example > .admonition-title, .md-typeset details.example > summary {
    background-color: rgba(154, 109, 255, 0.21);
  }
  .md-nav__link[data-md-state='blur'] {
    color: #aec0ff;
  }
  .md-typeset .footnote {
    color: #888484 !important;
  }
  .md-typeset .footnote-ref:before {
    border-color: #888484 !important;
  }
}
