.text-center {
    text-align: center;
}

article img {
    border: 1px solid #eee;
    box-shadow: 0 0 1em rgba(0, 0, 0, .6);
    margin: 30px auto 10px;
}

article img.emojione {
    border: none;
    box-shadow: none;
    margin: 0;
}

.md-footer-nav {
    background-color: rgba(0,0,0,.57);
}


/* Docker Branding */
.md-header {
    background-color: #0d9cec !important;
}

.md-header__button.md-logo img,
.md-nav__title .md-nav__button.md-logo img {
    height: 1.4rem;
    width: auto;
}

.md-nav__title .md-nav__button img {
    height: 30px;
    margin-top: 10px;
}

.md-header-nav__button img {
    width: 145px;
}
